<header class="sticky top-0 z-50 bg-white/90 dark:bg-background-dark/90 backdrop-blur-md border-b border-[#f4f0f1] dark:border-white/10">
    <div class="max-w-7xl mx-auto px-6 lg:px-10 py-3 flex items-center justify-between">
        <div class="flex items-center gap-2 group cursor-pointer">
            <div class="bg-primary text-white p-1.5 rounded-lg">
                <span class="material-symbols-outlined text-2xl">temple_hindu</span>
            </div>
            <h1 class="text-2xl font-extrabold tracking-tight text-primary" >
                <a class="text-sm font-bold hover:text-primary transition-colors" href="{% url 'biodata_list' %}">बिहाव</a>
                </h1>
        </div>
        <nav class="hidden md:flex items-center gap-8">
            <a class="text-sm font-bold hover:text-primary transition-colors" href="{% url 'pages_premium' %}">प्रीमियम प्लान</a>
            <a class="text-sm font-bold hover:text-primary transition-colors" href="#">सफलता की कहानियाँ</a>
            {% comment %} <a class="text-sm font-bold hover:text-primary transition-colors" href="#">हमारे बारे में</a> {% endcomment %}
            <a class="text-sm font-bold hover:text-primary transition-colors" href="{% url 'biodata_list' %}">सूची</a>
            <a class="text-sm font-bold hover:text-primary transition-colors"  href="{% url 'biodata_create' %}">जोड़ें</a>
            {% comment %} <a class="text-sm font-bold hover:text-primary transition-colors"  href="{% url 'biodata_matching' %}">संपर्क</a> {% endcomment %}
            <a class="text-sm font-bold hover:text-primary transition-colors"  href="{% url 'pages_account_settings' %}">सेटिंग्स</a>


        </nav>
        <div class="flex items-center gap-3">
            <button class="px-5 py-2 text-sm font-bold border border-transparent hover:border-primary/20 rounded-lg dark:text-white transition-all">
                 <a class="text-sm font-bold hover:text-primary transition-colors"  href="{% url 'pages_login' %}"> लॉगिन</a>
            </button>
            <button class="bg-primary hover:bg-primary/90 text-white px-6 py-2 rounded-lg text-sm font-bold transition-all shadow-md shadow-primary/20">
                <a class="text-sm font-bold hover:text-primary transition-colors"  href="{% url 'pages_register' %}"> रजिस्टर</a>
            </button>
        </div>
    </div>
</header>



 